<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<<<<<<< HEAD
    <title>Doner Place</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
=======
    <title>My Demo Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
>>>>>>> 61c313b9ea93a48919015c841d457a83f35443e1
</head>

<body>
    <div class="container">
        <header>
            <span class="logo">Doner Place</span>
            {{#if isAdmin}}
            <li><a class="button" href="#">All Orders</a></li>
            <li><a class="button" href="product/create">Create Product</a></li>
            {{/if}}

            {{#if user}}
            <span class="greeting">Welcome, {{user.username}}! | <a href="/user/logout">[logout]</a></span>
            <ul class="menu">
<<<<<<< HEAD
                <li><a class="button" href="index.html">Home</a></li>
                <li><a class="button" href="order-status.html">Order Status</a></li>

                {{else}}
                <li><a class="button" href="/user/login">Login</a></li>
                <li><a class="button" href="/user/register">Register</a></li>
=======
                <li><a href="/">Home</a></li>
                {{#if user}}
                <li>Welcome, {{user.username}}</li>
                <li>
                    <form id="logout-form" action="/logout" method="post"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
                {{#if isAdmin}}
                <li><a href="/course/create">Create Course</a></li>
                <li><a href="/course/edit">Edit Course</a></li>
                {{/if}}
                {{else}}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
                {{/if}}
>>>>>>> 61c313b9ea93a48919015c841d457a83f35443e1
            </ul>
            {{/if}}
        </header>
        <main>
            {{#if globalError}}
            <span>{{globalError}}</span> {{/if}} {{{body}}}
        </main>
    </div>
    <footer>Doner Place &copy; 2017</footer>

</body>

</html>